#fullpage .section.fp-section {background: none !important;}
.intro {height: 100%;position: relative;}
.intro > img {bottom: 0;position: absolute;}
#fullpage .intro h1 {
    display: inline-block;
    font-size: 30pt;
    margin: 100px 0 0;
    position: relative;
    width: 100%;
    z-index: 9;
}
.intro > img, .insta #section2 .intro img {
    bottom: 71px;
    left: 40%;
    position: absolute;
}
.insta #fullpage #section3 h1 {margin-top: 30px;}
.insta #fullpage #section2 h1 {margin-top: 50px;}
.insta h1 span {display: block;}
#section2 .intro img {left: 30%;}
.step-strip {
    background: #405357;
    bottom: 0;
    height: 100%;
    left: 100px;
    position: absolute;
    width: 10px;
}
.step-strip > span {
    background: #405357;
    border-radius: 70px;
    color: #fabd27;
    left: -66px;
    position: absolute;
    top: 30%;
    width: 144px;
    height: 144px;
    line-height: 144px;
    font-size: 35pt;
}
#section0 .intro .step-strip {height: 50%;}
#section0 .intro .step-strip > span {top: -69px;}
#section4 .intro .step-strip {height: 50%;top: 0;}
#section4 .intro .step-strip > span {top: 70%;}

@media (max-width: 768px){
    .step-strip {left: 60px;}
    #fullpage .intro h1 {margin: 230px 0 0;}
}
@media (max-width: 767px){
    #fullpage .intro h1 {margin: 35px 0 0 55px;width: auto;font-size: 28pt;}
    .intro > img, #section2 .intro img {bottom: 71px;left: 45%;position: absolute;width: 20%;}
    #section2 .intro img {left: 35%;width: 40%;}
    .step-strip > span {height: 100px;left: -45px;width: 100px;line-height: 100px;}
    .step-strip {left: 40px;}
}
@media (max-width: 600px){
    #section2 .intro img {left: 19%;width: 80%;}
}
@media (max-width: 420px){
    .intro > img {left: 30%;position: absolute;}
    .intro > img {left: 35%;position: absolute;width: 60%;}
    #fullpage .intro h1 {
    font-size: 26pt;
    margin: 130px 0 0 55px;
    width: auto;
    }
    .insta #section2 .intro img {left: 32%;width: 60%;}
}

@media (max-width: 375px){
    #fullpage .intro h1 {font-size: 24pt;margin: 70px 0 0 55px;}
    .step-strip > span {top: 33%;}
}