body{background: #222D32;}
.log_wrapper {
    background: #ecf0f5;
    color: #fff;
    margin: auto;
    width: 300px;
    position: relative;
    top: 150px;
    -webkit-box-shadow: 0 0 10px 0 #000;
    -moz-box-shadow: 0 0 10px 0 #000;
    -o-box-shadow: 0 0 10px 0 #000;
    -ms-box-shadow: 0 0 10px 0 #000;
    box-shadow: 0 0 10px 0 #000;
}
.log_wrapper h4{
	font-size: 24px;
	background: #3C8DBC;
    margin: 0;
    padding: 14px;
    text-align: center;
}
.log_wrapper form {
    padding: 40px 30px 25px;
}
.log_wrapper form > div input {
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.log_wrapper form > div input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    height: 40px;
    padding: 10px 12px;
}
.log_wrapper form > div:last-child input {
    background: #3c8dbc;
    border: medium none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 50px;
}